@import url('./style.css');

/* SECTION_HERO */

.hero-section {
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(10,10,10,0.8) 0%, rgba(10,10,10,0.2) 100%), url("../images/hero-img.jpg");
  background-size: cover;
}

.hero-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.hero-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 5rem;

  border-bottom: 2px solid #FFF;
}

/* SECTION_HERO_END */

/* SECTION_HERO_MOBILE */

@media only screen and (max-width: 1015px) {
  .hero-text h1 {
    font-weight: 700;
    font-size: 3rem;
  }
}

/* SECTION_HERO_MOBILE_END */

/* SECTION_VALUES */

.values-section {
  min-height: 50vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  margin: 0 auto;
}

.values-item {
  width: 100%;
}

.values-item p {
  font-weight: 400;
}
/* SECTION_VALUES_END */

/* SECTION_VALUES_MOBILE */

@media only screen and (max-width: 1015px) {
  .values-item {
    width: 125%;
  }
}

@media only screen and (max-width: 360px) {
  .values-item h3 {
    font-size: 1.1rem;
  }

  .values-item p {
    font-size: 1rem;
  }
}

/* SECTION_VALUES_MOBILE_END */

/* SECTION_INFO */

.info-section {
  height: max-content;
  padding: 3rem 0;
  background-color: #2669A0;
  color: #FFF;
}

.info-content {
  display: flex;
  justify-content: center;
}

.content-header {
  width: 20%;
  text-align: right;
  padding-right: 3rem;

  font-size: 3rem;
}

.content-main {
  width: 30%;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 1.25rem;
}
/* SECTION_INFO_END */

/* SECTION_INFO_MOBILE */

@media only screen and (max-width: 1015px) {
  .info-section {
    width: 100%;
  }
  
  .info-content {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .content-header {
    width: 100%;
    text-align: center;
    padding-right: 0;

    font-size: 2rem;
  }

  .content-main {
    width: 100%;
    text-align: center;

    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}

/* SECTION_INFO_MOBILE_END */

/* SECTION_STRATEGY */

.strategy-section {
  height: max-content;
  padding: 3rem 0 4rem 0;
}

.strategy-section__app-image-blue-square {
  background-color: rgb(38, 105, 160);
  border-radius: 5px;
  height: 132px;
  width: 145px;
  position: absolute;
  z-index: 1;
  left: -14.8412px;
  top: -33px;
}

.strategy-section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

.strategy-section__header p {
  width: 50%;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.strategy-section__header h2 {
  margin: 2rem;
  text-align: center;
}

.strategy-section__body {
  display: flex;
  justify-content: center;
}

.strategy-goal {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.goal-header {
  width: 70%;
  font-size: 2.5rem;
  color: #3b719e;
}

.goal-content {
  width: 70%;
  font-weight: 400;
}

/* SECTION_STRATEGY_END */

/* SECTION_STRATEGY_MOBILE */

@media only screen and (max-width: 1015px) {
  .strategy-section__header p {
    font-size: 1.15rem;
    font-weight: 400;
  }

  .strategy-section__body {
    display: block;
  }

  .strategy-goal {
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .goal-header {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }

  .goal-content {
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .goal-content p {
    border-left: 2px solid #2669A0;
    padding-left: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .strategy-section__header h2 {
    font-size: 2rem;
  }

  .strategy-section__header p {
    font-size: 1.05rem;
  }

  .goal-header {
    font-size: 2rem;
  }

  .strategy-goal {
    flex-direction: column;
  }
}
/* SECTION_STRATEGY_MOBILE_END */
