@import url('./style.css');

/* SECTION_HERO */

.hero-section {
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(10,10,10,0.8) 0%, rgba(10,10,10,0.2) 100%), url("../images/hero-img.jpg");
  background-size: cover;
}

.hero-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 5rem;

  border-bottom: 2px solid white;
}

/* SECTION_HERO_END */

/* SECTION_HERO_MOBILE */

@media only screen and (max-width: 1015px) {
  .hero-text h1 {
    font-weight: 700;
    font-size: 3rem;
  }
}

/* SECTION_HERO_MOBILE_END */

/* SECTION_VALUES */

.values-section {
  min-height: 50vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}

.values-item {
  width: 100%;
}

.values-item p {
  font-weight: 400;
}
/* SECTION_VALUES_END */

/* SECTION_VALUES_MOBILE */

@media only screen and (max-width: 1015px) {
  /* For future use */
}

/* SECTION_VALUES_MOBILE_END */
