/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

/* HEADER */

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.header__language-switcher {
  display: flex;
  align-items: center;
}

.header__language-switcher:link,
.header__language-switcher:visited {
  text-decoration: inherit;
  color: rgb(38, 105, 160);
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item a:link,
.nav-item a:visited {
  text-decoration: none;
  color: rgb(38, 105, 160);
  cursor: pointer;
}

/* For use on pages with transparent nav */

.header-fixed {
  width: 100vw;
  position: absolute;
  margin-top: 1rem;
  padding: 0;
}

.header__language-switcher-transparent {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.header__language-switcher-transparent:link,
.header__language-switcher-transparent:visited {
  text-decoration: inherit;
  color: #FFF;
  cursor: pointer;
}

.header__logo-image-transparent {
  margin-left: 2rem;
  height: 52px;
  width: 39px;
}

.header__logo-image {
  height: 52px;
  width: 39px;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.nav-item-transparent {
  margin-right: 1rem;
}

.nav-item-transparent a:link,
.nav-item-transparent a:visited {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid white;
  color: white;
}

/* END_HEADER */

/* column structure for whole app */
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap-reverse;
}

/* INTRO_SECTION */

.section-intro {
  margin-top: 61px;
  max-width: 90rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.section-intro__app-image {
  background-image: url('../images/socious-company.png');
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 763px;
  width: 420.13px;
  /* for squares*/
  position: relative;
  z-index: 3;
}

/* squares behind images */
.section-intro__app-image-blue-square {
  background-color: rgb(38, 105, 160);
  border-radius: 5px;
  height: 132px;
  width: 145px;
  position: absolute;
  z-index: 1;
  left: -14.8412px;
  top: -33px;
}

.section-intro__app-image-paleblue-square {
  background-color: rgb(228, 237, 254);
  border-radius: 5px;
  height: 398px;
  width: 278px;
  position: absolute;
  z-index: 2;
  left: 113px;
  top: 283px;
}

/* the main blocks of the intro sections */
.section-intro__block {
  font-family: 'Inter', sans-serif;
  position: relative;
}

.section-intro__mailchimp {
  font-size: 36px;
}

/* mailchimp override */
.clear {
  max-width: 353px;
  margin-left: 0px !important;
}

.section-intro__mailchimp--blue {
  color: rgb(38, 105, 160);
}

.section-intro__mailchimp__form-container {
  margin-top: 37px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(171, 171, 171, 0.25);
  border-radius: 5px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 4px 1px;
  padding: 10px;
}

.section-intro__mailchimp__form {
  margin-top: 23px;
}

/* END_SECTION_INTRO */

/* SECTION_INTRO_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-intro {
    width: 95%;
    justify-content: center;
  }

  .section-intro__block {
    margin: 0 auto;
    text-align: center;
  }

  .section-intro__app-image {
    margin: 0 auto;
  }

  .section-intro__mailchimp__form-container {
    width: 100%;
    margin-bottom: 100px;
    padding: 0;
  }

  .square-1 {
    left: 42.1588px;
  }

  .square-2 {
    left: 141px;
  }
}

/* END_SECTION_INTRO_MOBILE */

/* SECTION_APP_LINKS */

.section-app-links {
  background-color: rgb(38, 105, 160);
  width: 100%;
  color: white;
  padding: 80px 0;
}

.section-app-links__wrapper {
  width: 80%;
  margin: auto;
}

.section-app-links__container {
  width: max-content;
  margin: 0 auto;
}

.section-app-links__header {
  font-size: 48px;
  width: max-content;
  margin: 2rem auto;
}

.section-app-links__subheader {
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.section-app-links__app-links-button {
  background: none rgb(255, 255, 255);
  border: 1px none rgb(38, 105, 160);
  text-align: center;
  color: rgb(38, 105, 160);
  border-radius: 3px;
  padding: 10px 75px;
  margin: 0 1rem;
  cursor: pointer;
}

.section-app-links__app-links-block {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: max-content;
}

/* Override material icons */
.md-36 {
  font-size: 48px !important;
}

#mc_embed_signup .button {
  background: rgb(38, 105, 160) !important;
  font-family: inter !important;
  margin-top: 20px;
}

/* END_SECTION_APP_LINKS */

/* SECTION_APP_LINKS_MOBILE */

@media only screen and (max-width: 1025px) {
  .section-app-links__app-links-block {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .section-app-links__container {
    width: 100%;
  }

  .section-app-links__header {
    width: 100%;
    font-size: clamp(2rem, 5vw, 3rem);
  }

  .section-app-links__app-links-button:first-child {
    margin-bottom: 20px;
  }

  .section-app-links__app-links {
    display: flex;
    justify-content: space-around;
  }
}

/* END_SECTION_APP_LINKS_MOBILE */

/* SECTION_JOBS */

.section-jobs {
  width: 80%;
  margin: 0 auto;
}

.section-jobs__sup-header {
  color: rgb(38, 105, 160);
  font-size: 16px;
}

.section-jobs__header {
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 2rem;
  font-size: 36px;
}

.section-jobs__img-container,
.section-jobs__img-entrepreneurs-container {
  width: max-content;
  margin: 0 auto;
  /* for square paleblue */
  position: relative;
}

.section-jobs__block {
  max-width: 90rem;
  margin: 48px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
}

.section-jobs__img {
  background-image: url('../images/socious-job-seeker.png');
  height: 489px;
  width: 263.191px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  z-index: 3;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-paleblue-square {
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
  height: 226px;
  width: 321px;
  position: absolute;
  z-index: -1;
  left: -16px;
  top: 140px;
  transform: rotate(15deg);
}

.section-jobs__img-entrepreneurs {
  background-image: url('../images/socious-entrepreneurs.png');
  height: 489px;
  width: 263.191px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-right: 1rem;
  z-index: 4;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-entrepreneurs-paleblue-square {
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  height: 102px;
  width: 234.458px;
  left: 96.5417px;
  top: 0px;
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
}

.section-jobs__img-entrepreneurs-purple-square {
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  height: 53px;
  width: 151.708px;
  left: -37px;
  top: 400px;
  background-color: rgb(38, 105, 160);
  border-radius: 5px;
  transform: rotate(30deg);
}

.section-jobs__img-entrepreneurs-container--mobile {
  display: none;
}

.section-jobs__list-item {
  margin-top: 79px;
  display: flex;
  flex-direction: row;
}

.section-jobs__list-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-jobs__list-item-subtitle {
  font-size: 16px;
  color: rgb(107, 114, 128);
  font-weight: 400;
  max-width: 45rem;
}

.section-jobs__list-icon {
  background-color: rgb(38, 105, 160);
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  height: 24px;
  margin-right: 10px;
}

/* END_SECTION_JOBS */

/* MOBILE JOBS SECTION */

@media only screen and (max-width: 1230px) {
  .section-jobs__header {
    max-width: 40rem;
  }
}

@media only screen and (max-width: 1015px) {
  .section-jobs__block {
    flex-direction: column;
  }

  .section-jobs__list {
    width: 100%;
  }

  .section-jobs__img-entrepreneurs-container {
    display: none;
  }

  .section-jobs__img-entrepreneurs-container--mobile {
    display: block;
    position: relative;
  }

  .section-jobs__img-entrepreneurs--mobile {
    background-image: url('../images/socious-entrepreneurs.png');
    height: 489px;
    width: 263.191px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px auto;
    z-index: 4;
  }

  .section-jobs__img-container,
  .section-jobs__img-entrepreneurs-container {
    width: max-content;
    margin: 0 auto;
  }

  .section-jobs__img {
    margin: 30px auto;
  }

  .section-jobs__img-entrepreneurs-paleblue-square {
    top: 19px;
  }

  .section-jobs__img-entrepreneurs-purple-square {
    left: 5px;
    top: 400px;
  }
}

/* END_MOBILE_JOBS_SECTION */

