/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

/* HEADER */

.header {
  height: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.header__language-switcher:link,
.header__language-switcher:visited {
  text-decoration: inherit;
  color: rgb(38, 105, 160);
  cursor: pointer;
}

.header__logo-image {
  height: 52px;
  width: 39px;
}
/* END_HEADER */

/* column structure for whole app */
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap-reverse;
}

/* INTRO_SECTION */

.section-intro {
  margin-top: 61px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.section-intro__app-image {
  background-image: url('../images/socious-app-image.png');
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 763px;
  width: 383.13px;
  /* for squares*/
  position: relative;
  z-index: 3;
}

/* squares behind images */
.section-intro__app-image-blue-square {
  background-color: rgb(38, 105, 160);
  border-radius: 5px;
  height: 132px;
  width: 145px;
  position: absolute;
  z-index: 1;
  left: -14.8412px;
  top: -33px;
}

.section-intro__app-image-paleblue-square {
  background-color: rgb(228, 237, 254);
  border-radius: 5px;
  height: 398px;
  width: 278px;
  position: absolute;
  z-index: 2;
  left: 113px;
  top: 283px;
}

/* the main blocks of the intro sections */
.section-intro__block {
  font-family: 'Inter', sans-serif;
  position: relative;
}

.section-intro__mailchimp {
  font-size: 36px;
}

/* mailchimp override */
.clear {
  max-width: 353px;
  margin-left: 0px !important;
}

.section-intro__mailchimp--blue {
  color: rgb(38, 105, 160);
}

.section-intro__mailchimp__form-container {
  margin-top: 37px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(171, 171, 171, 0.25);
  border-radius: 5px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 4px 1px;
  padding: 10px;
}

.section-intro__mailchimp__form {
  margin-top: 23px;
}

/* END_SECTION_INTRO */

/* SECTION_INTRO_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-intro {
    width: 100%;
    justify-content: center;
  }

  .section-intro__block {
    width: 100%;
    text-align: center;
  }

  .section-intro__app-image {
    margin: 0 auto;
  }

  .section-intro__mailchimp__form-container {
    width: 100%;
    margin-bottom: 100px;
  }

  .square-1 {
    left: 42.1588px;
  }

  .square-2 {
    left: 141px;
  }
}

/* END_SECTION_INTRO_MOBILE */

/* SECTION_APP_LINKS */

.section-app-links {
  background-color: rgb(38, 105, 160);
  width: 100%;
  color: white;
  text-align: center;
  padding: 80px 0;
}

.section-app-links__header {
  font-size: 48px;
}

.section-app-links__subheader {
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 20px;
}

.section-app-links__app-links-button {
  background: none rgb(255, 255, 255);
  border: 1px none rgb(127, 149, 235);
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  color: rgb(58, 77, 143);
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 3px;
  box-shadow: none;
  padding: 10px 75px;
}

.section-app-links__app-links-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  min-width: 350px;
  margin: 0 auto;
}

/* Override material icons */
.md-36 {
  font-size: 48px !important;
}

/* END_SECTION_APP_LINKS */

/* SECTION_APP_LINKS_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-app-links__app-links-block {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .section-app-links__app-links-button:first-child {
    margin-bottom: 20px;
  }
}

/* END_SECTION_APP_LINKS_MOBILE */

/* SECTION_JOBS */

.section-jobs {
  width: 80%;
  margin: 0 auto;
}

.section-jobs__sup-header {
  color: rgb(88, 80, 236);
  font-size: 16px;
}

.section-jobs__header {
  font-weight: 800;
  margin-top: 20px;
  font-size: 36px;
}

.section-jobs__img-container {
  width: 30%;
  /* for square-1-2-3 */
  position: relative;
}

.section-jobs__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
}

.section-jobs__img {
  background-image: url('../images/socious-entrepreneurs.png');
  height: 489px;
  width: 263.191px;
  background-color: rgb(255 255 255);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 4px 1px;
  margin-top: 30px;
  z-index: 3;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-paleblue-square {
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
  height: 226px;
  width: 321px;
  position: absolute;
  z-index: 1;
  left: -16px;
  top: 140px;
  transform: rotate(15deg);
}

.section-jobs__img-entrepreneurs {
  background-image: url('../images/socious-company.png');
  height: 489px;
  width: 263.191px;
  background-color: rgb(255 255 255);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 4px 1px;
  margin-top: 30px;
  z-index: 4;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-entrepreneurs-paleblue-square {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  height: 102px;
  width: 234.458px;
  left: 96.5417px;
  top: 0px;
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
}

.section-jobs__img-entrepreneurs-purple-square {
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  height: 53px;
  width: 151.708px;
  left: -37px;
  top: 453px;
  background-color: rgb(60, 13, 153);
  border-radius: 5px;
  transform: rotate(30deg);
}

.section-jobs__img-container--mobile {
  display: none;
}

.section-jobs__list-item {
  margin-top: 79px;
  display: flex;
  flex-direction: row;
}

.section-jobs__list-item-title {
  font-size: 18px;
  font-weight: 600;
}

.section-jobs__list-item-subtitle {
  font-size: 16px;
  color: rgb(107, 114, 128);
  font-weight: 400;
}

.section-jobs__list-icon {
  background-color: rgb(104, 117, 245);
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  height: 24px;
  margin-right: 10px;
}

/* END_SECTION_JOBS */

/* MOBILE JOBS SECTION */

@media only screen and (max-width: 1015px) {
  .section-jobs__block {
    flex-direction: column;
  }

  .section-jobs__img-container {
    display: none;
  }

  .section-jobs__img-container--mobile {
    display: block;
    position: relative;
  }

  .section-jobs__img-entrepreneurs--mobile {
    background-image: url('../images/socious-payment.png');
    height: 489px;
    width: 263.191px;
    background-color: rgba(255, 255, 255);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgb(170 170 170 / 50%) 0px 2px 4px 1px;
    margin: 30px auto;
    z-index: 4;
  }

  .section-jobs__img-entrepreneurs-paleblue-square {
    top: 19px;
  }

  .section-jobs__img-entrepreneurs-purple-square {
    left: 5px;
    top: 450px;
  }
}

/* END_MOBILE_JOBS_SECTION */
